/*작성칸*/
.factoryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.factoryInput__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 50%;
}

.factoryInput__input {
    flex-grow: 1;
    height: 40px;
    padding: 0px 20px;
    color: white;
    border: 1px solid #04aaff;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
}

.factoryInput__arrow {
    position: absolute;
    right: 0;
    background-color: #04aaff;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    color: white;
}
/*content_box*/

.box_content {
    margin-bottom: 20px;
    background-color: black;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    color: white;
    flex-direction: column;
  }
  .box_message {
    font-size: 20px;
    text-align: center;
  }

  .box_sender {
    font-size: 13px;
    margin-top: auto;
    align-self:flex-end;
  }